@import "tailwindcss";

@layer components {
    .nav-link {
        @apply text-white mx-2 p-4 text-xl rounded-xl hover:bg-white/30
    }

    .capstone-nav-link {
        @apply text-white mx-2 p-2 text-lg rounded-xl hover:bg-white/50
    }
}